<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<header>
        <a href="/logout">Log Out</a>
</header>
<body>
<h1><%= title %></h1>
<% ladies.forEach(function(l) { %>
    <a href="/ladies/<%= l._id %>"><%= l.name %></a>
    <ul>
        <% l.chores.forEach(function(c){ %>
            <li><%=c.chore%> --- <%=c.progress%></li>
            <% })%>
    </ul>
    
 <% }); %>

</body>
</html>